{% include "admin/cabecera.html" %}      

<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Bienvenid@ <strong> {{ session['usuario'] }}</strong> a administrador del sitio web </h1>
        <p class="col-md-8 fs-4">
            Aquí podra administrar las carpas del sitio web      
        </p>
        <p class="lead">
           <a class="btn btn-primary btn-1g" href="panes" role="button">Empezar la gestión</a>
        </p>
    </div>
</div>


{% include "admin/pie.html" %}